.mapdiv{
    height: 100vh;
    background: #121516;
}
.container{
    width: 95%;
    border: 3px solid #BCBCBC;
    border-radius: 3px;
    padding: 2% 4% 4%;
}
.coord-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-auto-rows: minmax(60px, auto);
}