.header {
    text-align: center; 
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.title{
    text-align: center;
    font-size: 150%;
}
.smalltitle{
    text-align: center;
    font-size: 125%;
    margin-top: 10px;
    margin-bottom: 4px;
}
.headericon {
    /* JANK FIX IF CAN */
    max-height: 48px;
    max-width: 48px;
}
.headerleft {
    display: inline-block;
    width: 35%;
    text-align: left;
}
.headercenter {
    display: inline-block;
    width: 30%;
    text-align: center;
}
.headerright{
    display: inline-block;
    width: 35%;
    text-align: right;
}
.iconlink {
    position: relative;
    left: 0%;
    right: 0%;
    height: 100%;
    width: 100%;
}
.all {
    font-family: 'Nunito',sans-serif;
    font-weight: 700;
}
.left{
    margin: 2px 2%;
    text-align: left;
}
.center {
    text-align: center;
    position: relative;
}
.itemp, .damagep {
    margin: 2px 2%;
    padding: 0;
}

/*Scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #BCBCBC;
    border: #BCBCBC;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

/* Ugly Corner */
::-webkit-scrollbar-corner{
    background: #110110;
}

.tooltip {
    position: relative;
}
.tooltip .tooltiptext {
    visibility: hidden;
    color: #ddd;
    background: #110110;
    /*width: min(200%, 75vw);*/
    display: inline-block;
    padding: 0 min(2%,10px) 0 min(2%,10px);
    text-align: center;
    border: 1px solid #BCBCBC;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.header-tooltip {
    top: 100%;
    left: -20%;
}

.button-narrow {
    background-color: #666;
    border: 2px solid #444;
    border-radius: 5px;
    color: #ddd;
    text-align: center;
    text-decoration: none;
    font-family: 'Nunito',sans-serif;
    font-weight: 700;
    font-size: 90%;
    display: inline-block;
}
button {
    background-color: #666;
    border: 2px solid #444;
    border-radius: 5px;
    color: #ddd;
    text-align: center;
    text-decoration: none;
    font-family: 'Nunito',sans-serif;
    font-weight: 700;
    font-size: 120%;
    display: inline-block;
}
button:hover {
    background-color: #556;
}

button:active {
  background-color: #558;
  box-shadow: 0 3px #666;
  transform: translateY(1px);
}

/*==============================================================*/
.all{
    background: #121516;
    color: #aaa;
}

a.link{
    color: #A5FDFF;
}

main {
    margin: 24px 0 48px;
}

main h2 {
    margin: 0 0 8px;
    color: #bbb;
    font-size: 24pt;
    font-weight: bold;
}

main p {
    margin: 0 0 8px;
    line-height: 1.35em;
    text-indent: 2.5em;
    text-align: justify;
    font-size: 13pt;
    font-weight: 700;
}

main .footer {
    font-size: 10pt;
    text-align: center;
}

main code {
    padding: 0 3px;
    background-color: #1d1f21;
    color: #de935f;
    font-family: 'Source Code Pro', 'Ubuntu Mono', 'Courier New', monospace;
}

main pre { /* tomorrow night: https://github.com/chriskempson/tomorrow-theme */
    margin: 14px 2px;
    padding: 10px 16px;
    border-left: 4px solid #7f7f7f;
    background-color: #1d1f21;
    color: #ddd;
    font-size: 12pt;
    font-weight: normal;
}

main pre > .prop {
    color: #cc6666;
}

main pre > .fn {
    color: #f0c674;
}

main pre > .bool {
    color: #b294bb;
}

main pre > .str {
    color: #b5bd68;
}

main pre > .num {
    color: #81a2be;
}

main pre > .op {
    color: #ccc;
}

main strong {
    color: #ccc;
    font-weight: bold;
}

main .rb-text {
    background-image: linear-gradient(to left, #f5f, #a0a, #5ff, #5f5, #ff5, #fa0, #a00, #f5f);
    background-size: 300% 100%;
    -webkit-background-clip: text;
    color: transparent;
    animation: scroll-bg 4s linear infinite;
}

main .math {
    font-family: 'CMU Serif', 'Cambria Math', 'Times New Roman', serif;
}

main .heart {
    color: #e44078;
}

@keyframes scroll-bg {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 300%;
    }
}

.full-width {
    width: 100%;
    margin: 4px 0 32px;
    padding: 0;
}

.full-width > img {
    width: 100%;
    background-color: #000;
    filter: brightness(0.7) contrast(1.2) grayscale(0.5);
}

.section {
    margin: 0 10vw 28px;
}

.docs {
    margin: 14px 0;
}

.docs h3 {
    margin: 0 0 8px;
    color: #aaa;
    font-size: 20pt;
    font-weight: bold;
}

.docs-entry {
    margin: 4px 0 16px;
}

.docs-entry-key {
    margin-bottom: 6px;
    padding: 4px 6px;
    display: flex;
    flex-flow: row;
    align-items: baseline;
    background-color: #1d1f21;
    font-weight: normal;
}

.docs-entry-key-id {
    color: #cc6666;
    font-size: 16pt;
    font-family: 'Source Code Pro', 'Ubuntu Mono', 'Courier New', monospace;
}

.docs-entry-key-type {
    flex: 1;
    margin-left: 8px;
    color: #de935f;
    font-size: 11pt;
    font-family: 'Source Code Pro', 'Ubuntu Mono', 'Courier New', monospace;
}

.docs-entry-key-alias {
    float: right;
    color: #515356;
    font-size: 11pt;
}

.docs-entry-key-alias > .alias {
    float: none;
    color: #969896;
    font-family: 'Source Code Pro', 'Ubuntu Mono', 'Courier New', monospace;
}

.docs-entry > p {
    margin-left: 1.5em;
    text-indent: 0;
}

.indicator-img {
    max-height: 24px;
    top: 0;
    bottom: 0;
    display: flex-end;
    margin: auto 0 auto;
}
.span-flex > * {
    display: inline-block;
}
.span-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.span-flex:hover {
    text-decoration: underline;
}

ul{
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
}

.positive {
    color: #5f5;
    /*text-shadow: 2px 2px 0 #153f15;*/
}

.negative {
    color: #f55;
    /*text-shadow: 2px 2px 0 #1f1515;*/
}